body{
    margin:0;
    padding:0;
    overflow-x: hidden;
}
.mainpanel{
    text-align: center;
    margin-left: 350px;
    margin-right: 350px;
}
.block1{
    text-align: left;
    border: 1px solid #333;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top:  10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: linear-gradient(to right, #ADA996,#F2F2F2,#DBDBDB,#EAEAEA);
}
.block1>span{
  text-align: initial;
}
.block1:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
.block1 > h6{
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    color: #333;
    text-overflow: ellipsis;
}
.block1 > img{
  display: block;
  margin-left: auto;
  margin-right: auto;
    height:c auto;
    width: auto;
    max-width: 100%;
    max-height: 460px;
}
.feedpost{
    margin-left: 350px;
    margin-right: 350px;
    text-align: center;
    height: 40px;
    width: auto;
    text-align: left;
    padding-left: 30px;
    font-size: 23px;
    border: 1px solid #696966;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.feedpost:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 80px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #2E86C1;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #2E86C1;
    color: white;
  }
  .modalform > textarea{
      width: 100%;
      height: 250px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 5px;
  }
  #write{
      width: 100%;
      padding-left: 20px;
  }
#uploadbtn{
    height: 40px;
}
@media only screen and (min-width: 300px) and (max-width: 650px){
    .mainpanel{
        text-align: center;
        margin-left: 50px;
        margin-right: 50px;
    }
    .feedpost{
        margin-left: 50px;
        margin-right: 50px;
        text-align: center;
        height: 40px;
        width: auto;
        text-align: left;
        padding-left: 30px;
        font-size: 25px;
        border: 1px solid #696966;
        font-size: 25px;
    }
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 30px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }
      .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
      }
      .modalform > textarea{
        width: 100%;
        height: 150px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
    }
}
@media only screen and (min-width: 651px) and (max-width: 1200px){
    .mainpanel{
        text-align: center;
        margin-left: 70px;
        margin-right: 70px;
    }
    .feedpost{
        margin-left: 70px;
        margin-right: 70px;
        text-align: center;
        height: 40px;
        width: auto;
        text-align: left;
        padding-left: 30px;
        font-size: 25px;
        border: 1px solid #696966;
        font-size: 25px;
    }
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 30px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }
}