body {
    font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
    overflow: hidden;
    margin:0;
    background: url('/images/jobfind.jpg') repeat no-repeat center fixed;
    background-size: cover;
}
.mainpanel{
    padding-top:160px;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    margin: 0px;
    width: 100%;
    padding-left:50px;
    padding-right: 50px;
    padding-bottom: 100%;
}
#reg{
    width:60px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    border: 1px solid white;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 10px;;
}
#log{
    width: 60px;
    color: black;
    text-decoration: none;
    font-size: 25px;
    border: 1px solid white;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 10px;
    background-color: white;
}
#reg:hover{
    background: teal;
}
#log:hover{
    background: teal;
    border: 1px solid black;
}
.typed-cursor {
    color: white;
    font-size: 30px;
    opacity: 1;
  }
  #typed{
    color: white;
    font-size: 30px;
  }
@media only screen and (min-width: 350px) and (max-width: 600px) {
    body {
        font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
        overflow: hidden;
        margin:0;
        background: url('/images/jobfind.jpg') repeat no-repeat center fixed;
        background-size: cover;
    }
    .mainpanel{
        padding-top:160px;
        background: rgba(0, 0, 0, 0.7);
        text-align: center;
        height: auto;
        width: 100%;
        padding-left:50px;
        padding-right: 50px;
        padding-bottom: 100%;
        margin: 0px;
    }
    .typed-cursor {
        color: white;
        font-size: 20px;
        opacity: 1;
      }
      #typed{
        color: white;
        font-size: 20px;
       
      }
      #reg{
        width: 60px;
        color: white;
        text-decoration: none;
        font-size: 20px;
        border: 1px solid white;
        margin-bottom: 30px;
        margin-top: 20px;
        padding: 10px;
    }
    #log{
        width: 60px;
        color: black;
        text-decoration: none;
        font-size: 20px;
        border: 1px solid white;
        margin-bottom: 30px;
        margin-top: 20px;
        padding: 10px;
        background-color: white;
    }
}