body{
    margin: 0;
    padding: 0;
    overflow-x: none;
    background-color: #E0E0E0;
}
.profile{
    text-align: center;
    margin-top: 10px;
}
.box{
    border: 1px solid #333;
    height: auto;
    text-align: left;
    margin-left: 250px;
    margin-right: 250px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: linear-gradient(to right, #ADA996,#F2F2F2,#DBDBDB,#EAEAEA);
}
.box:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
#apply{
    float: right;
    margin-right:15px;
    margin-top: 150px;
}
#deletebtn{
    float: right;
    margin-right:15px;
}
.searchbox{
    margin-top: 10px;
    margin-left: 250px;
    margin-right: 250px;
    padding: 0;
}
.navbar-brand{
    font-size: 30px;
}
.nav-link{
    font-size: 20px;
}
#search{
    width: calc(100% - 83px);
    outline: none;
    border: none;
    background: #DCDCDC;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.25);  
}
footer{
    height: 60px;
    background-color: #2E4053;
    text-align: center;
    padding-top: 10px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    width: 100%;
    bottom: 0;
    position: fixed;
}
@media only screen and (min-width: 350px) and (max-width: 650px) {
    body{
        margin: 0;
        padding: 0;
    }
    .profile{
        text-align: center;
        margin-top: 10px;
    }
    .box{
        border: 1px solid #333;
        height: auto;
        text-align: left;
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 30px;
        padding-top: 20px;
        padding-bottom: 20px;;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background: linear-gradient(to right, #ADA996,#F2F2F2,#DBDBDB,#EAEAEA);
    }
    .box:hover{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    }
    .searchbox{
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 0;
    }
    #apply{
        float: right;
        margin-right:15px;
        margin-top: 0px;
    }
    #deletebtn{
        float: right;
        margin-right:15px;
    }
    footer{
        height: 40px;
        background-color: #2E4053;
        text-align: center;
        padding-top: 5px;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        width: 100%;
        bottom: 0;
    }
}
@media only screen and (min-width: 651px) and (max-width: 1300px) {
    body{
        margin: 0;
        padding: 0;
    }
    .profile{
        text-align: center;
        margin-top: 10px;
    }
    .box{
        border: 1px solid #333;
        text-align: left;
        margin-left: 50px;
        margin-right: 50px;
        padding-left: 50px;
        padding-top: 20px;
        padding-bottom: 20px;;
        background: linear-gradient(to right, #ADA996,#F2F2F2,#DBDBDB,#EAEAEA);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    #apply{
        float: right;
        margin-right:15px;
        margin-top: 0px;
    }
    #deletebtn{
        float: right;
        margin-right:15px;
    }
    .searchbox{
        margin-top: 10px;
        margin-left: 50px;
        margin-right: 50px;
        padding: 0;
    }
}